.footer {
  padding: 100px 0;
  background-color: var(--navy-blue);
}

.footer .container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer .logo {
  color: var(--cloud);
}

.footer .logo-accent {
  color: var(--iris);
}

.footer p {
  max-width: 264px;
  color: var(--cloud);
}
